<ion-view title="Perfil" id="page2">
    <ion-content padding="true" class="has-header">
        <ion-list id="perfil-list3">
            <ion-item class="item-avatar" id="perfil-list-item10">
                <h2>Carlos Perez</h2>
            </ion-item>
        </ion-list>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <a ui-sref="menu.edicion" id="perfil-button9" style="color:#FF0000;font-size:20px;text-align:left;" class="button button-light  button-block icon-left ion-android-lock">Cambiar contraseña</a>
        <button id="perfil-button10" style="font-size:20px;text-align:left;" class="button button-light  button-block icon-left ion-log-out">Cerrar Sesión</button>
    </ion-content>
</ion-view>